.CourseInfo
{
    margin:30px;
    font:18px 微软雅黑;
    line-height:38px;
}
span.item
{
    width:130px;
    float:left;
    margin-right:30px;
    color:#6e3594;
    text-align:right;
}
.contain
{
    margin:0;
    margin-top:10px;
    width:500px;
}
.contain tr td
{
    padding:0;
    text-indent:20px;
    font-size:16px;
}
.CourseName
{
    width:400px;
}
.BookingDetails
{
    width:800px;
    background:#eee6f3;
    margin:30px;
    padding:30px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.details
{
    width:800px;
    margin-top:30px;   
}
.DetailBox
{
    width:320px;
    height:80px;
    background:#e2d3eb;
    line-height:30px;
    margin:10px;
    padding:28px;
    float:left;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}