#active1
{   
    background:#0b1300;
}
#error1,#error2
{
    margin-left:40px;
    font-size:12px;
    color:#c42e1a;
    display:none;
}
#checked
{
    color:#678606;
    font-size:16px;
    position:relative;
    top:-14px;
    left:30px;
}