html 
{ 
    background: #63bad8;  
}
body 
{  
    padding: 0px;  
    margin: 0 auto;  
}
#wrapper{
    width: 800px;
    padding: 0 20px 0 20px;
    position: relative;
}
#Recovered{
    width: 800px;
    background-color: #fff;
    text-align: left;  
}

/* HEADER */

#header {
    width: 780px; 
    background: #c5e6ea;
    padding: 15px 0 15px 20px;
    border-bottom: #b2ccd0 solid 1px;   
}
h1{                      
    display: inline;
    width: 220px;
    color:#083d56;
    font: bold 24px 微软雅黑;
    
}

#darkbanner{
    margin: 20px 0 0 -18px;
    padding: 8px 10px 10px 40px;
    background: #424242;
    position: relative;
}
#darkbannerwrap{
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -18px;
    position: relative;
}

.banner320{
    width: 320px;
}

h2{
    font: bold 24px helvetica, arial, sans-serif;
    color: #fff;
    display: inline;
    margin-left: 10px;
}

fieldset{
    padding:50px 20px;
    display: block;
    position: relative; 
}
.form p
{
    font: bold 20px helvetica, arial, sans-serif;
    color: #fff;
    margin:20px 2px;
}
body#ResetPwd {  
    width: 410px; 
    margin-top:100px;
}
body#ResetPwd #wrappertop{
    width: 370px;
}

body#ResetPwd #wrapper{
    width: 370px;
    padding: 0 20px 0 20px;
}
body#ResetPwd #Recovered{
    width: 370px;
}
body#ResetPwd #header {
    width: 350px;
}
body#ResetPwd fieldset{
    width: 330px;
    border: 0;
    margin: 0px;
    display: block;
    margin-top: -30px;
    background-color: #fff;
    padding-top: 20px;
}

body#ResetPwd fieldset p{
    color: #333;
}
body#ResetPwd fieldset p label
{
    font:16px 微软雅黑;
    width:80px;
    text-align:right;
    float:left;
    position:relative;
    top:4px;
}
body#ResetPwd input{
    height: 20px;
    width: 180px;
    padding: 3px;
    font: 16px 微软雅黑;
}
body#ResetPwd input.submit
{
    width:80px;
    height:26px;
    color:#fff;
    background:#92c97c;
    margin-left:182px;
    border:none;
}
.error
{
    display:none;
    width:243px;
    text-indent:30px;
    background-image: url("../images/error.png");
    background-repeat:no-repeat;
    background-position:5px 5px;
    margin-left:10px;
    margin-bottom:20px;
    font-weight: bold;
}