.classlist
{
    margin-top:50px;
    margin-left:50px;
    font:20px 微软雅黑;
}
.SelectName
{
     width:60px;
     float:left;
     color:#6e3594;
}
.SelectBox
{
    float:left;
    width:120px;
    height:22px;
    margin-right:20px;
}
.StudentInfo
{
  width:820px;
  margin:30px 0px 50px 50px;
  border-collapse:collapse;
}

.StudentInfo td, .StudentInfo th 
{
  font-size:1em;
  border:1px solid #bc88d8;
  padding:3px 7px 2px 7px;
}

.StudentInfo th 
{
  font-size:1.1em;
  font-weight:bold;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#caaee1;
  color:#683496;
}
.StudentInfo td a
{
    color:#572286;
}
.StudentInfo td a:hover
{
    text-decoration:underline;
    color:#9563c2;
}
.double
{
    background:#f4e7fb;
}
.button
{
    position:relative;
    top:20px;
    left:580px;
    width:130px;
    height:32px;
    color:#f3e7fa;
    font:18px 微软雅黑 bold;
    border:none;
    cursor:pointer;
    background:#b580d2;
    margin-bottom:100px;
    margin-left:10px;
    
}
.search
{
    /*width:60px;*/
    height:25px;
    color:#f3e7fa;
    font:18px 微软雅黑 bold;
    border:none;
    cursor:pointer;
    background:#b580d2;
    margin-left:20px;
    padding-left:7px;    
    padding-right:7px;
}
.condition
{
    font:16px 微软雅黑;
}
.listmention
{
    color:#683496;
    margin-top:20px;
    margin-left:48px;
}

.search-box
{
    margin-top:20px;
    margin-bottom:10px;    
}

.select
{
    height:25px;    
}